name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - "webview-src/**"
      - "webview-dist/**"
      - "examples/**"

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test --manifest-path=Cargo.toml --release
